﻿<div class="content">

  <img src="{{dir}}image.jpg" />

  <h3>Anvendelses områder:</h3>

  <p>
    Covermeter  anvendes til lokalisering af armering og måling af tykkelsen af  armeringens  dækkende betonlag .
  </p>

  <p>
    Fordele:
    <ul>
      <li>Kan betjenes af en person</li>
      <li>Hurtig registrering af armeringsplacering og dæklag</li>
    </ul>
  </p>

  <p>
    Ulemper:
    <ul>
      <li>Kan kun registre magnetiske metaller dvs. rustfrit stål, kobber og plast mm. Er ”usynligt”</li>
      <li>Præcise målinger af dæklag kræver kendskab til armeringsdiameter</li>
      <li>Kan typisk ikke ”se” armering, der ligger dybere end ca. 70 mm</li>
      <li>Svært armerede konstruktioner kan give upræcise målinger</li>
    </ul>
  </p>

  <h3>Multidisciplinære undersøgelser:</h3>
    
  Covermeter anvendes typisk i kombination med carbonatiserings –  og chloridmålinger for at give en risikovurdering af armeringskorrosion, men kan anvendes i de fleste  sager hvor armeringsplacering er kritisk.

</div>
