﻿<div class="content">

  <img src="{{dir}}../../image.jpg" id="aaben-bro-kantbjaelke-main-img" />

  <h3>
    Betonskader
  </h3>

  <p>
    De mest almindelige betonskader på endevedelag er vist på det følgende billede.
  </p>

  <img src="{{dir}}image.jpg" id="aaben-bro-kantbjaelke-detalje-img" />

  <script>
    var fn1 = App.createImgLink('#aaben-bro-kantbjaelke-main-img', '#konstruktionstyper_aaben-bro_detaljer_kantbjaelke');
    fn1(0.6, 0.33, '1');
    var fn2 = App.createImgLink('#aaben-bro-kantbjaelke-detalje-img', '#konstruktionstyper_aaben-bro_detaljer_kantbjaelke');
    fn2(0.85, 0.5, 'A', '#konstruktionstyper_aaben-bro_skader_delaminering');
    fn2(0.27, 0.2, 'B', '#konstruktionstyper_aaben-bro_skader_laengere-revner');
  </script>

</div>

{{boxSet: ^konstruktionstyper/aaben-bro/skader/(laengere-revner|delaminering)$, id: konstruktionstyper_aaben-bro-kantbjaelke-ul}}

<script>
  var titles = $('#konstruktionstyper_aaben-bro-kantbjaelke-ul h3');
  titles.each(function (i, title) {
    var newTitle = String.fromCharCode(65 + i) + ": " + title.innerText;
    title.innerText = newTitle;
  });
</script>