﻿<div class="content">

  <img src="{{dir}}../../image.jpg" id="aaben-bro-brodaek-main-img" />

  <h3>
    Betonskader
  </h3>

  <p>
    De mest almindelige betonskader på endevedelag er vist på det følgende billede.
  </p>

  <img src="{{dir}}image.jpg" id="aaben-bro-brodaek-detalje-img" />

  <script>
    var fn = App.createImgLink('#aaben-bro-brodaek-main-img', '#konstruktionstyper_aaben-bro_detaljer_brodaek');
    fn(0.3, 0.4, '1');
    var fn2 = App.createImgLink('#aaben-bro-brodaek-detalje-img', '#konstruktionstyper_aaben-bro_detaljer_brodaek');
    fn2(0.15, 0.15, 'A', '#konstruktionstyper_aaben-bro_skader_daeklagsafskalninger');
    fn2(0.63, 0.5, 'B', '#konstruktionstyper_aaben-bro_skader_laengere-revner');
  </script>

</div>

{{boxSet: ^konstruktionstyper/aaben-bro/skader/(laengere-revner|daeklagsafskalninger), id: konstruktionstyper_aaben-bro-brodaek-ul}}

<script>
  var titles = $('#konstruktionstyper_aaben-bro-brodaek-ul h3');
  titles.each(function (i, title) {
    var newTitle = String.fromCharCode(65 + i) + ": " + title.innerText;
    title.innerText = newTitle;
  });
</script>