﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Example of rusted surface of a beam made of SFRC (S.U. Balouch et al., 2009)." class="img-desc Figure" />

  <p>
    The main concern is he risk of rust spots on the surface. After casting, some steel fibres will be positioned close to the surface i.e. the steel fibres don't get as much cover as the reinforcement bars.
  </p>
  <p>
    The risk and level of rust depend on different factors such as the environmental impact. The <a href="#" class="figure">Figure</a> shows a SFRC beam exposed to an aggressive environment where fibres have begun to rust.
  </p>

</div>

<script>
  App.linksToHighlights('steel-fibres_surface-finish');
</script>