﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Cracked section of steel fibre reinforced concrete." class="img-desc" />

  <p>
    In many industrial applications, the use of steel fibre reinforced concrete can effectively be used to reduce or in some cases even substitute the conventional reinforcement.
  </p>
  <p>
    Contrary to the large continuous unidirectional reinforcement bars, the homogeneously dispersed steel fibres reinforce the concrete evenly, thus effectively reducing and controlling any micro-cracks arising in the concrete matrix. Conventional concrete is much more weak and brittle when loaded in tension.
  </p>

  <img src="{{dir}}traditional-concrete1.jpg" alt="Casting of conventional vibrated concrete." class="img-desc" />

  <p>
    From a structural design perspective, it is allowed to to account for the tensile strength of steel fibre concrete in calculations of the bending capacity, shear capacity, and crack widths. The tensile strength of steel fibre concrete is determined by three point bending tests and depends among other things on the quality and amount of the steel fibres.
  </p>

  <p>
    From a construction perspective, handling of conventional reinforcement is a major task and is often associated with heavy lifts and unhealthy working positions. Reducing and/or simplifying the conventional reinforcement will significantly improve the working environment for the concrete workers at the job site.
  </p>
  <p>
    Furthermore, a reduction and simplification of the conventional reinforcement will reduce the costs at the job site. Whether this is beneficial is of course dependent on the extra costs of the concrete due to the addition of the steel fibres.
  </p>

</div>

