﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Top: Steel fibres immersed in the SFRSCC beam specimen. Bottom: Detection of the steel fibres at one of the specimen sections. Number of fibres = 180." class="img-desc" style="width:100%" />

  <ul>
    <li>number of fibres (N<sub>f</sub>) = 180</li>
    <li>concrete area (A<sub>c</sub>) = 150*150 = 22500 mm<sup>2</sup></li>
    <li>fibre length (L<sub>f</sub>) = 60 mm</li>
    <li>fibre aspect ratio (Ψ) = 80</li>
    <li>fibre density (ρ<sub>f</sub>) = 7800 kg/m<sup>3</sup></li>
    <li>fibre dosage (d<sub>f</sub>) = 40 kg/m<sup>3</sup></li>
    <li>fibre volume fraction (Φ) = d<sub>f</sub> / ρ ≈ 0.5%</li>
    <li>fibre radius = L<sub>f</sub> / Ψ / 2 = 0.375 mm</li>
    <li>fibre area (A<sub>f</sub>) = π r<sub>f</sub><sup>2</sup> = 0.44 mm<sup>2</sup></li>
  </ul>

  <p>
    Fibre orientation factor α<sub>o</sub> = N<sub>f</sub> A<sub>f</sub> / (Φ A<sub>c</sub>) = <u>0.70</u> 
  </p>
  <p>
    Fibre orientation factor κ<sub>f</sub><sup>f</sup> = α<sub>o</sub>/0.6 = <u>1.17</u>
  </p>

</div>