﻿<div class="content">

  <img src="{{dir}}image.jpg" />

  <p>
    Langsgående revner (typisk længere end 30 cm) i brodæk samt lodrette revner i endevederlag, søjler og i kantbjælker. Revner af denne type kan være dannet som følge af svind, armeringskorrosion mm. Eventuelle udfældninger er vigtige indikatorer for årsag til revnedannelsen. Udfældninger i undersiden af dæk kan betyde utæt fugtisolering.
  </p>

</div>

{{boxSet: ^(nedbrydningsmekanismer/frost-toe|undersoegelsesmetoder/covermeter)$ }}
