﻿<div class="content">

  <p>
    The resulting fibre orientation in an application is governed by the <a href="#fibre-orientation_origin">aforementioned</a> physical phenomena.
  </p>
  <p>
    Thus, fibre orientation is strongly dependent on the flow pattern of SFRSCC, which is influenced by a many factors such as the:
  </p>

  <ul>
    <li>Formwork geometry and surface</li>
    <li>Reinforcement layout</li>
    <li>Casting process</li>
    <li>Concrete rheology</li>
    <li>Fibre type and volume fraction</li>
  </ul>

  <p>
    Some basic relations and observations:
  </p>

  <ul>

    <li>
      Formwork surface
      <ul>
        <li>Rough formwork surface results in a more random fibre orientation in the vicinity of the formwork</li>
        <li>Smooth formwork surface results in less random fibre orientation in the vicinity of the formwork</li>
      </ul>
    </li>

    <li>
      Plastic viscosity
      <ul>
        <li>Based on experience, plastic viscosity in the range of 25 - 100 Pa s doesn't have any profound impact on the resulting fibre orientation.</li>
      </ul>
    </li>

    <li>
      Yield stress
      <ul>
        <li>Based on experience, yield stress in the range of 20 - 100 Pa doesn't have any profound impact on the resulting fibre orientation. This corresponds roughly to slump flows from 520 - 720 mm.</li>
      </ul>
    </li>
  </ul>

</div>

{{boxSet: ^fibre-orientation/factors/example$ }}