﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Example of form-filling." class="img-desc" />

  <p>
    Form filling ability of SFRSCC i.e. the ability to fill the formwork completely depend mainly on the yield stress (slump flow) as is the case for ordinary SCC. 
  </p>

</div>