﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="4C Rheometer used to measure plastic viscosity and yield stress of concrete." class="img-desc" />


  <p>
    Steel fibres added to concrete have a direct impact on both plastic viscosity and yield stress of the material.
  </p>
  <p>
    Plastic viscosity and yield stress increases with increasing fibre dosage i.e. the slump flow decreases and the concrete flows more slowly. However, the number of fibres is also important.
  </p>
  <p>
    For instance, at the same fibre dosage and fibre length, a more slender fibre (i.e. higher aspect ratio = length over diameter) results in more fibres and thus a stiffer concrete.
  </p>
  <p>
    Conventional slump SFRC uses the slump value as a measure of flowability. Steel fibre concrete is more difficult to vibrate. Therefore, it is recommended to specify a higher slump value for SFRC than would normally be ordered for a conventional slump concrete.
  </p>
  <p>
    As a rule of thumb, increase the slump value with 10 mm for every 10 kg of steel fibres added to the concrete.
  </p>


</div>