﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Ilustration of four different fibre inclinations together with their respective relative pull-out responses." class="img-desc Figure-1" style="width:100%" />

  <p>
    Number of fibres crossing a fracture plane has a strong impact on the mechanical performance of any type of SFRC. The number of fibres at the fracture plane is among others dependent on the fibre dosage.
  </p>
  <p>
    Steel fibres can have various inclinations with respect to the fracture plane (<a href="#" class="figure">Figure 1</a>). The various inclinations strongly influence the mechanical response of the material.
  </p>

  <ul>
    <li>Fibre normal to the fracture plane provides around 80% of the maximum mechanical response.</li>
    <li>Fibre at the inclination of approximatelly 75° provides the maximum mechanical response.</li>
    <li>As the fibre inclination decreases (&lt; 75°), the mechanical response also decreases.</li>
    <li>Fibre parallel to the fracture plane provides zero mechanical response.</li>
  </ul>

</div>

<script>
  App.linksToHighlights('mechanical-response_fibre-inclination');
</script>
