﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Ilustration of five fibres crossing four differently oriented fracture planes and their respective number of fibres crossing the fracture plane." class="img-desc Figure-1" style="width:100%" />

  <p>
    Fibre orientation is similar to fibre inclination. In the case of fibre inclination, each individual fibre was rotated. In the case of fibre orientation, the fracture plane is rotated instead (<a href="#" class="figure">Figure 1</a>). This approach better captures the real situation. <a href="#" class="figure">Figure 1</a> shows an example of four different fracture planes.
  </p>
  <p>
    Differently inclined fracture planes have a different number of fibres crossing the fracture plane. Similarly to fibre dosage presented <a href="#mechanical-response_fibre-dosage">here</a>, fibre orientation has a direct influence on the number of fibres crossing a given fracture plane.
  </p>
  <p>
    Differently inclined fracture planes result in different inclination of fibres at the fracture plane. Similarly to fibre inclination presented in <a href="#mechanical-response_fibre-inclination">here</a>, fibre orientation has a direct influence on the inclination of fibres at the fracture plane.
  </p>
  <p>
    Fibre orientation therefore affects both the number of fibres at the fracture plane and the inclination of fibres at the fracture plane.
  </p>

</div>

<script>
  App.linksToHighlights('mechanical-response_fibre-orientation');
</script>
