﻿<div class="content">

  <img src="{{dir}}../../image.jpg" id="aaben-bro-soejle-main-img" />

  <h3>
    Betonskader
  </h3>

  <p>
    De mest almindelige betonskader på endevedelag er vist på det følgende billede.
  </p>

  <img src="{{dir}}image.jpg" id="aaben-bro-soejle-detalje-img" />

  <script>
    var fn = App.createImgLink('#aaben-bro-soejle-main-img', '#konstruktionstyper_aaben-bro_detaljer_soejle');
    fn(0.1, 0.6, '4');
    var fn2 = App.createImgLink('#aaben-bro-soejle-detalje-img', '#konstruktionstyper_aaben-bro_detaljer_soejle');
    fn2(0.6, 0.3, 'A', '#konstruktionstyper_aaben-bro_skader_laengere-revner');
    fn2(0.25, 0.35, 'B', '#konstruktionstyper_aaben-bro_skader_netrevner');
  </script>

</div>

{{boxSet: ^konstruktionstyper/aaben-bro/skader/(laengere-revner|netrevner)$, id: konstruktionstyper_aaben-bro-soejle-ul}}

<script>
  var titles = $('#konstruktionstyper_aaben-bro-soejle-ul h3');
  titles.each(function (i, title) {
    var newTitle = String.fromCharCode(65 + i) + ": " + title.innerText;
    title.innerText = newTitle;
  });
</script>