﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="CT scanning of SFRSCC." class="img-desc" style="width:100%" />

  <p>
    X-Ray computed tomography with subsequent image analysis is an advanced experimental technique used to obtain a 3D model of the internal structure of an element. X-Ray computed tomography produces tomographic slices, i.e. images, of specific areas of the element. A set of successive tomographic slices form a 3D image which can be subsequently converted into the 3D model. X-ray computed tomography is probably the only experimental method capable of obtaining position and orientation of every single fibre located in the SFRSCC.
  </p>

  <img src="{{dir}}ct.jpg" alt="Concrete core sample scanned by computed tomography and analyzed by image analysis. (Fritz L. et. al., 2009)" class="img-desc" style="width:100%" />

  <p>
    The method is also highly efficient. As an example, a standard size beam can be scanned in less than a minute when using the medical CT scanner Siemens Somatom Sensation 4. A complete information of the fibre orientation and distribution in a large slab can be then obtained in one day.
  </p>

</div>