﻿<div class="content">

  <img src="{{dir}}image.jpg" />

  <p>
    Revner typisk dannet som følge af svind og/eller AKR. Revnerne kan være med og uden udfældninger. Omfang og farve på udfældninger er vigtige indikatorer for årsag til revnedannelsen.
  </p>

</div>

{{boxSet: ^(nedbrydningsmekanismer/frost-toe|undersoegelsesmetoder/covermeter)$ }}
