﻿<div class="content">

  <img src="Pages/mechanical-testing/casting/standard/image.svg" alt="Casting of standard beams according to EN-14651: ”Structural performance of steel fibre concrete”. Vibration applied." class="img-desc" style="width:100%" />

  <p>
    EN-14651 prescribes the casting procedure for conventional steel fibre concrete. The concrete is poured into the mould at three different positions. Vibration is subsequently applied to compact the concrete.
  </p>

  <p>
    This standard procedure induces a reference fibre orientation for conventional SFRC. A 3D random fibre orientation is normally assumed in the bulk region of conventional SFRC. This corresponds to a fibre orientation factor α<sub>0</sub> of 0.50 (see section 5.3.1 about fibre orientation factor). However, due to the wall effect, more fibers will be orientated in the beam direction.
  </p>

</div>

