﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="SFRSCC. Flow properties with 200 kg steel fibres per m3. Hooked end fibres. Length = 60 mm and aspect ratio = 80. Measurements with the 4C-Rheometer." class="img-desc" />

  <h3>Rheological properties</h3>

  <p>
    To measure the yield stress and plastic viscosity of SFRSCC, it is recommended to use a rheometer e.g. the 4C-Rheometer.
  </p>

  <img src="{{dir}}SFRSCC45kg.jpg" alt="SFRSCC. Flow properties with 45 kg steel fibres per m3. Hooked end fibres. Length = 60 mm and aspect ratio = 80. Measurements with the 4C-Rheometer. " class="img-desc" />

  <h3>Workability</h3>
  <p>Like with SCC, it is recommended to use the slump flow and t500 to measure the workability of SFRSCC. It is not recommended to use the V-Funnel due to the risk of fibre blocking at the orifice.</p>

  <h3>Blocking</h3>
  <p>To assess blocking, the L-box may be applied to some extent if the reinforcement is modified and representative of the reinforcement in the real application. However, it is recommended to assess blocking in a trial casting. </p>

</div>