﻿<div class="content">

  <img src="Pages/mechanical-testing/casting/sfrscc/image.svg" alt="Casting of SFRSCC into standard beams according to the new proposal. No vibration applied." class="img-desc" style="width:100%" />

  <p>
    The standard casting procedure described <a href="#mechanical-testing_casting_standard">here</a> is not applicable for SFRSCC. SFRSCC flows on its own. There is therefore no reason to place the concrete in three different positions or to vibrate it.
  </p>
  <p>
    To limit operator dependcy, improve reproduceability and repeatability, and reduce the standard deviation of a test serie, a new casting procedure has been proposed and verified.
  </p>
  <p>
    At first, the concrete is poured into a funnel placed on top of the formwork at the edge of the beam specimen. A gate placed at the bottom of the funnel is opened and the concrete flows into the mould.
  </p>
  <p>
    Results from testing and simulation show an average fibre orientation factor α<sub>0</sub> of 0.78 in the fracture plane of standard beams.
  </p>

  <img src="Pages/mechanical-testing/casting/sfrscc/funel1.jpg" alt="Sampling from wheel barrow" class="img-desc" style="width:100%" />
  <br />
  <img src="Pages/mechanical-testing/casting/sfrscc/funel2.jpg" alt="Filling the funnel" class="img-desc" style="width:100%" />
  <br />
  <img src="Pages/mechanical-testing/casting/sfrscc/funel3.jpg" alt="Filling the funnel" class="img-desc" style="width:100%" />
  <br />
  <img src="Pages/mechanical-testing/casting/sfrscc/funel4.jpg" alt="Concrete flow" class="img-desc" style="width:100%" />
  <br />
  <img src="Pages/mechanical-testing/casting/sfrscc/funel5.jpg" alt="Concrete flow" class="img-desc" style="width:100%" />
  <br />
  <img src="Pages/mechanical-testing/casting/sfrscc/funel6.jpg" alt="Manual finishing" class="img-desc" style="width:100%" />
  

</div>

