﻿<div class="content">

  <img src="{{dir}}../../image.jpg" id="aaben-bro-endevedelag-main-img" />

  <h3>
    Betonskader
  </h3>

  <p>
    De mest almindelige betonskader på endevedelag er vist på det følgende billede.
  </p>

  <img src="{{dir}}image.jpg" id="aaben-bro-endevedelag-detajle-img" />

  <script>
    var fn1 = App.createImgLink('#aaben-bro-endevedelag-main-img', '#konstruktionstyper_aaben-bro_detaljer_endevedelag');
    fn1(0.8, 0.5, '2');
    var fn2 = App.createImgLink('#aaben-bro-endevedelag-detajle-img', '#konstruktionstyper_aaben-bro_detaljer_endevedelag');
    fn2(0.65, 0.4, 'A', '#konstruktionstyper_aaben-bro_skader_skraa-revner');
  </script>

</div>

{{boxSet: ^konstruktionstyper/aaben-bro/skader/skraa-revner, id: konstruktionstyper_aaben-bro-endevedelag-ul}}

<script>
  var titles = $('#konstruktionstyper_aaben-bro-endevedelag-ul h3');
  titles.each(function (i, title) {
    var newTitle = String.fromCharCode(65 + i) + ": " + title.innerText;
    title.innerText = newTitle;
  });
</script>