﻿<div class="content">

  <p>
    Mechanical testing of SFRC provides a mean to obtain mechanical properties of the material.
  </p>
  <p>
    Standard beam tests are among the most widely used SFRC test methods. Such beam specimens are cast and left to harden. The beam specimens are subsequently tested by three point bending tests.
  </p>

</div>

{{boxSet: ^mechanical-testing/[^/]+$ }}