﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Illustration of two fibres (dashed cylinders) crossing a give plane (blue). Yellow ellipses denote fibre cross-sectional shapes at the given plane." class="img-desc" style="width:100%" />

  <p>
    Recognition of fibre inclination is based on manual counting with the addition of fibre cross-sectional shape analysis. Similarly to manual counting, the procedure begins with cutting and polishing a given plane of interest. The plane polishing is performed to remove any fibre deformations caused by the cutting.
  </p>

  <p>
    The number and shape of the fibres crossing the given plane is then analysed. The figure as an example illustrates two fibres crossing a given plane. When the fibre is normal to the given plane, the cross-section of the fibre visible at the given plane has a circular shape (left). When the fibre crosses the given plane at a different inclination, the cross-sectional shape of the fibre becomes an ellipse (right).
  </p>
  <p>
    The inclination of the fibre relative to the given plane can be estimated based on lengths of major and minor axes of the ellipse. A single ellipse can represent two different fibre inclinations. It is therefore necessary to cut and analyse three mutually perpendicular planes to obtain a complete information about the fibre orientation in the given region.
  </p>

</div>