﻿<div class="content">

  <p>
    The fibre orientation factor κ<sub>f</sub><sup>f</sup> is used to scale the reference tensile strength from standard beam testing to the actual structure.
  </p>
  <p>
    If κ<sub>f</sub><sup>f</sup> = 1, this means that the fibre orientation in the actual structure is the same as that in the standard beams.
  </p>
  <p>
    If the fibre orientation factor α<sub>o</sub> in actual structure is higher than the reference αo (= 0.6) then κ<sub>f</sub><sup>f</sup> > 1 and vice versa. See example to the right.

  </p>

</div>