﻿<div class="content">
  <h3>
    Karakteristisk for konstruktionen:
  </h3>
  <ul>
    <li>Typisk set i byggeri fra 1965-1979</li>
    <li>Typisk forspændt</li>
    <li>Med og uden kassedrager</li>
    <li>Med og uden påmonterede kantbjælker</li>
    <li>Ofte er den oprindelige membran udtjent</li>
    <li>Membran kan være udskiftet</li>
    <li>Varierende mængde af reaktivt materiale</li>
    <li>Typisk er anvendt beton der ikke er frostsikker</li>
  </ul>

  <div class="img-for-link">
    <img src="{{dir}}image.jpg" id="aaben-bro-main-img" />
  </div>

  <script>
    var fn = App.createImgLink('#aaben-bro-main-img', '#konstruktionstyper_aaben-bro');
    fn(0.3, 0.4, '1', '#konstruktionstyper_aaben-bro_detaljer_brodaek');
    fn(0.8, 0.5, '2', '#konstruktionstyper_aaben-bro_detaljer_endevedelag');
    fn(0.6, 0.33, '3', '#konstruktionstyper_aaben-bro_detaljer_kantbjaelke');
    fn(0.1, 0.6, '4', '#konstruktionstyper_aaben-bro_detaljer_soejle');
  </script>
</div>

{{boxSet: ^konstruktionstyper/aaben-bro/detaljer/[^/]+$, id: konstruktionstyper_aaben-bro-ul}}

<script>
  var titles = $('#konstruktionstyper_aaben-bro-ul h3');
  titles.each(function (i, title) {
    var newTitle = (i + 1) + ": " + title.innerText;
    title.innerText = newTitle;
  });
</script>
