﻿<div class="content">

  <img src="{{dir}}image.png" alt="Result of a numerical simulation (slump flow at 3 different time steps)." class="img-desc" style="width:100%" />

  <p>
    Numerical frameworks capable of predicting orientation and distribution of fibres immersed in the SFRSCC can serve as an efficient alternative to the aforementioned experimental methods (Figure 5.12). Such numerical frameworks usually consists of a fluid dynamics solver and fibre orientation and distribution solver.
  </p>

  <img src="{{dir}}code.jpg" alt="Typical section of numerical code. " class="img-desc" style="width:100%" />

  <p>
    Numerical simulations are relatively cheap, fast and satisfactorily accurate. It is possible to perform complicated and large parametric studies in the range of days. Numerical simulations can therefore serve as an appropriate complement to the experimens.
  </p>

</div>