﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Shear induced orientation: Horizontal arrows represent the shear direction. The dot-dashed bar stands for the fibre initial state. The blue bar stands for the fibre final state." class="img-desc" style="width:100%" />

  <p>
    Shear induced orientation of steel fibres orients fibres nearly parallel to the shear flow direction. The fibres then remain in that position.
  </p>

  <p>
    Shear induced orientation takes approximately 0.5 up to 5 seconds depending among others on material properties. Compared to the duration of the casting process, it can be assumed that the shear induced orientation is instantaneous.
  </p>

</div>