﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Example of fibre blocking while penetrating the reinforcement mesh." class="img-desc" />

    <p>
      Blocking occurs when steel fibres try to pass through closely spaced regions, such as reinforcement or any other complex geometry.
    </p>

    <p>
      Blocking can result in honeycombing, poor distribution of fibres, poor surface finish and others.
    </p>

    <p>
      A general empirical rule states that any narrowing in the flow direction should be at least 3x larger than the fibre length to avoid blocking. However, in some cases this may be lower as in the case of slabs if the casting procedure is modified (see section 6.9 Large Slab).
    </p>


</div>