﻿<div class="content">

  <p>
    Orientation of individual steel fibres immersed in SFRSCC origins on a local level from a combination of several basic phenomena, of which the most important ones are the so-called wall effect, shear induced orientation and extensional stresses induced orientation.
  </p>

</div>

{{boxSet: ^fibre-orientation/origin/[^/]+$ }}