﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Examples of different steel fibre types." class="img-desc" />

  <p>
    Steel fibres come in various shapes and qualities.
  </p>
  <p>
    Like with any other reinforcement, it is important to provide as much fibres in a given section as needed. It is however not only the fibre dosage that is decisive for the mechanical response of the SFRC.
  </p>
  <p>
    Other factors that influence the mechanical response are:
  </p>

  <ul class="stlfbs">
    <li>
      fibre length <br />
      <em>typically from 30 mm to 60 mm</em>
    </li>
    <li>
      fibre diameter <br />
      <em>typically from 0.4 mm to a maximum of 1.3 mm</em>
    </li>
    <li>
      fibre shape <br />
      <em>typically from 0.4 mm to a maximum of 1.3 mm</em>
    </li>
    <li>
      fibre diameter <br />
      <em>straight, hooked, undulated, crimped, twisted, coned</em>
    </li>
    <li>
      fibre tensile strength <br />
      <em>depends on material quality and ranges approximately from 800 MPa to 2500 MPa</em>
    </li>
  </ul>

  <style>
    .stlfbs > li > em {
      font-size: 90%;
    }
  </style>

</div>

<p class="menuTitle">Impact of steel fibres on:</p>

{{boxSet: ^steel-fibres/(?!recommendations)[^/]+$ }}

<p class="menuTitle">Other:</p>

{{boxSet: ^steel-fibres/recommendations$ }}
