﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Extensional stresses induced orientation: Top view illustration of plate casting." class="img-desc" style="width:100%" />

  <p>
    Extensional stresses induced orientation orients fibres normal to the flow direction. As an example, plate is cast from a circular inlet (brown circle) positioned at one corner of the plate. SFRSCC spreads from the inlet in a circular shape (dashed lines).
  </p>
  <p>
    The figure presents three different time steps of the concrete flow. At the initial state, the fibre is almost parallel to the flow direction (red stroke bar). As the fibre moves away from the inlet, the fibre orients normal to the flow direction (blue stroke bar).
  </p>
  <p>
    Red, orange and blue dashed circular curves represent the same material at the three different time steps. As the distance of the circular curves from the inlet increases the length of the curves also increases. With the increasing length, the velocity of the concrete parallel to the flow direction decreases (thickness of the dashed curves).
  </p>

</div>