﻿<div class="content">

  <video style="max-width:100%; margin: 0 auto;" poster="{{dir}}image.jpg" controls lazy-src="{{dir}}slab-ntnu-experiment-smooth.mp4" class="Figure-1">
    Your browser does not support the video tag.
  </video>
  <div class="img-desc-inner">Figure 1: Casting of a slab with SFRSCC.</div>

  <p>
    Steel fibre reinforced self-compacting concrete is a combination of steel fibre reinforced concrete with self-compacting concrete.
  </p>
  <p>
    Such a concrete among others allows for very fast and simple casting of the material, effectively reducing the costs of casting the concrete.
  </p>

  <p>
    It has been observed by many authors that steel fibres orient and distribute according to the flow of the concrete.
  </p>
  <p>
    As an example, <a href="#" class="figure">Figure 1</a> shows casting of a SFRSCC slab. <a href="#" class="figure">Figure 2</a> presents layout of the slab and top views of fibres within beam specimens cut from the slab.
  </p>
  <p>
    Knowledge of the fibres within the beam specimens was obtained experimentally by means of computed tomography (CT). Ellipses in the figure stand for the average fibre orientation in the individual regions of the beam specimens and help to better understand the fibre orientation pattern.
  </p>

  <img src="{{dir}}slabLayoutTesting.svg" alt="Figure 2: Layout of the slab casting. Inlet is depicted by blue cylinder. Two beam specimens (red and green) were cut of the slab, CT scanned and tested by four point bending test. The fibres within the beam specimens  are depicted both as lines and orientation ellipses." class="img-desc Figure-2" />

  <p>
    The various fibre orientations presented in <a href="#" class="figure">Figure 2</a> origin in the casting process and result in non-homogeneous and non-isotropic mechanical response of the beam specimens (<a href="#" class="figure">Figure 3</a>).
  </p>
  <p>
    This significantly complicates the design process and without a deeper understanding of the mechanisms responsible for the fibre orientation limits the use of the material.
  </p>

  <img src="{{dir}}L4pt.svg" alt="Figure 3: Flexural mechanical response of two beam specimens. Beam A indicates a significantly lower strength compared to Beam B. CMOD stands for Crack Mouth Opening Displacement." class="img-desc Figure-3" />

</div>

<script>
  App.linksToHighlights('introduction_sfrscc');
</script>