﻿<div class="content">

  <img src="{{dir}}image.jpg" />

  <p>
    Afskalninger af betonen over armering, typisk dannet som følge af volumenforøgelse af armeringens korrosionsprodukter.
  </p>

</div>

<p class="menuTitle">Nedbrydningsmekanismer:</p>

{{boxSet: ^nedbrydningsmekanismer/frost-toe$ }}

<p class="menuTitle">Undersøgelsesmetoder:</p>

{{boxSet: ^undersoegelsesmetoder/covermeter$ }}
