﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Example of concrete particle segregation. (D'Ambrosia, Lange, 2007)" class="img-desc" />


    <p>
      Segregation and stability are particular relevant when the yield stress and plastic viscosity are low. Note, just adding steel fibres to a SCC results in a stiffer concrete.
    </p>
    <p>
      To compensate e.g. more super-plasticizer is added, which make the paste phase more fluid. Thus, the risk of aggregate and fibre segregation increases compared to the conventional SCC.
    </p>
  

</div>