﻿<div class="content">

  <img src="Pages/mechanical-testing/testing/image.jpg" alt="Photograph of the three point bending test." class="img-desc" style="width:100%" />

  <p>
    Standard beams refer to those beams used to determine performance classes of steel fibre concrete according to EN-14651. The standard beam dimensions are 550 x 150 x 150 mm.
  </p>

  <img src="Pages/mechanical-testing/testing/3pt-1.svg" alt="Layout of the three point bending test." class="img-desc" style="width:100%" />

  <p>
    For each series, a minimum of eight beams are produced and tested in 3-point bending. The residual flexural tensile strength is measured at different crack mouth openings displacements (CMOD). Based on statistics, performance classes L1 and L2 are determined, which refer to the flexural tensile strength at CMOD of 0.5 mm and 3.5 mm, respectively.
  </p>

  <img src="Pages/mechanical-testing/testing/CMODilustration.svg" alt="Illustrative comparison of the mechanical response of the plain concrete and of the SFRC. CMOD = Crack Mouth Opening Displacement. " class="img-desc" style="width:100%" />

  <p>
    In the "Design guideline for structural application of
    steel fibre reinforced concrete", a concept for determining the performance class of SFRSCC has been introduced. The aim of the concept is to link the performance classes of SFRSCC to a reference fibre orientation (see section 5.3.1 about fibre orienation). The reference fibre orientation is comparable to that of conventional vibrated concrete. Performance of a real structure is then obtained by rescaling the referential performance using the actual fibre orientation in the structure. The rescaling fibre orientation factor is referred to as κff.
  </p>

  <img src="Pages/mechanical-testing/testing/sideView.jpg" alt="Resulting crack pattern after the three point bending test." class="img-desc" style="width:100%" />

</div>