﻿<div class="content">

  <img src="{{dir}}image.jpg" />

  <p>
    Skader forårsaget af frysning af frit vand i større kappilarporer i cementpastaen,
    eller vandholdige porøse korn i tilslaget. Frostskader giver oftest udtryk i revnedannelser,
    herunder delamineringer, afskalninger og springere over porøse korn.
  </p>

  <p>
    Der kan være en form for vekselvirkning mellem frost/tø skader og skader som følge af AKR.
    Revner opstået som følge af AKR kan give adgang for vand, som ved frysning danner yderligere skader.
    På samme måde kan revner dannet ved frost give adgang for alkalier (f.eks. via tøsaltning) og fugt
    til initiering af AKR.
  </p>

  <p>
    Betonens frostbestandighed testes ved at udsætte udborede kerner for frost/tø cykler.
    Frostbestandigheden kan også vurderes ved makro og mikroanalyse, eller luftporeanalyse. HENVISNINGER
  </p>
</div>