﻿<div class="content">

  <p>
    The most complete information about the fibre orientation and distribution is achieved when position and orientation of every single fibre is tracked. The main drawback of such a representation is the lack of experimental and analytical tools capable of acquiring and processing that complex information.
  </p>
  <p>
    X-ray computed tomography together with emerging numerical simulations of flow are currently the only techniques that can provide 3D position and orientation of all the individual steel fibres.
  </p>

</div>

{{boxSet: ^fibre-orientation/representation/[^/]+$ }}