﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Illustration of fibres and their respective orientation ellipse." class="img-desc" style="width:100%" />

  <p>
    Fibre orientation ellipsoids in 3D or ellipses in 2D provide spatial information of local fibre orientation. When the orientation ellipse becomes a circle, the local fibre orientation is random. There is a prevailing fibre orientation in a certain direction when the orientation ellipse becomes elongated in that direction.
  </p>

</div>