﻿<div class="content">

  <p>
    Tensile mechanical response of SFRC is primarily influenced by the number of fibres in the fracture plane, N<sub>f</sub>, and secondarily by other phenomena, such as inclination of fibres in the fracture plane. It can be therefore advantageous to represent the local fibre orientation in terms of the number of fibres crossing a given plane.
  </p>
  <p>
    The fibre orientation factor, α<sub>o</sub>, is defined as α<sub>o</sub> = N<sub>f</sub> A<sub>f</sub> / (Φ A<sub>c</sub>). Values of A<sub>f</sub>, Φ and A<sub>c</sub> stand for fibre cross-sectional area, fibre volume fraction and the concrete area, respectively.
  </p>
  <p>
    The main drawback of the fibre orientation factor αo is the fact that the orientation factor describes fibre orientation in a given plane only. To fully describe fibre orientation in certain point in space, knowledge of the orientation factor in infinitely many differently inclined planes is required. Fibre orientation ellipses might then be an appropriate alternative.
  </p>

</div>