﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Ilustration of the fibre length and diameter." class="img-desc" style="width:100%" />

  <p>
    Performance of the steel fibres is among others influenced by the fibre length and diameter. Increasing the fibre length or decreasing the fibre diameter results in a better fibre performance. 
  </p>
  <p>
    The two quantities can be combined into one: fibre aspect ratio = length / diameter. Increasing the fibre aspect ratio increases the fibre performance and vice versa.
  </p>

</div>

