﻿<div class="content">
  <p>
    Formåle med denne håndbog er at bidrage med Teknologisk Instituts erfaringer fra tilstandsundersøgelser af en række forskellige typer danske betonkonstruktioner. Håndbogen er tiltænkt nyuddannede ingeniører og fagfolk med begrænsede erfaringer inden for en given konstruktionstype. Håndbogen skulle gerne hjælpe det mindre trænede øje til at udføre tilstandsundersøgelser og eftersyn så omkostninger holdes nede og kvaliteten oppe.
  </p>

  <p>
    Håndbogen giver et indblik i relevante undersøgelsesmetoder relateret til de skader der registreres på bygværket, så såvel årsag som omfang af skaderne kan kortlægges  mest effektivt, således at eftersyn og tilstandsvurderinger sikrer den bedste økonomiske og tekniske renovering.
  </p>

  <p>
    Håndbogen er ikke en facitliste, men et værktøj der gerne skulle gøre turen fra kundehenvendelse til opgaveløsning nemmere og mere kvalitetsbetonet.
  </p>

  <p>
    Håndbogen er udarbejdet af Team Konstruktioner i Betoncentret på Teknologisk Institut  med konsulent Morten Holten Pedersen som pennefører. Derudover har følgende bidraget med input:
    Allan Skydsbæk Hansen, Konsulent
    Christian Bøgh Jøns Nielsen, Konsulent
    Jesper Stærke Clausen, Seniorkonsulent
    Henrik Erndahl Sørensen, Teamleder
    Tommy Jakobsen, Sektionsleder
    Ane Mette Walter, Seniorprojektleder
  </p>

</div>