﻿<div class="content">

  <img src="{{dir}}image.jpg" />

  <p>
    Systemer af langsgående revner i side af brodæk, eller i kantbjælke kan være et tegn på delaminering af betonen. Udfældninger er vigtige indikatorer for årsag til revnedannelsen.
  </p>

</div>

{{boxSet: ^(nedbrydningsmekanismer/frost-toe|undersoegelsesmetoder/covermeter)$ }}
