﻿<!--<div class="content">
  <p>
    Formålet med denne håndbog er at bidrage med Teknologisk Instituts erfaringer fra tilstandsundersøgelser
    af en række forskellige typer danske betonkonstruktioner.
  </p>

  <p>
    <a href="#formaal">Mere...</a>
  </p>

</div>-->

{{boxSet: ^(konstruktionstyper|nedbrydningsmekanismer|undersoegelsesmetoder)$ }}

<script>
  //$('#home .thumb-ul li:first > a').css('border', '1px solid white');
</script>
