﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Layout of the slab casting. The casting was performed into the formwork made of oiled glue-laminated plywood and ordinary plywood." class="img-desc" style="width:100%" />

  <p>
    As an example, the figures present the effect of formwork surface on the fibre orientation close to the formwork. Two slabs were cast with two types of formwork, in a similar manner to the Figure 2 presented <a href="#introduction_sfrscc">here</a>. The two formwork types were smooth oiled glue-laminated plywood and rough ordinary plywood.
  </p>
  <p>
    Casting into the glue-laminated plywood formwork resulted in more oriented fibres compared to casting into the ordinary plywood formwork.
  </p>

  <img src="{{dir}}drawing.jpg" alt="Slab casting - effect of formwork surface on fibre orientation close to the formwork (left: glue-laminated plywood, right: ordinary plywood). Bottom: Top view of the slabs - respective orientation ellipses (black = simulation, red = experiment)." class="img-desc" style="width:100%" />

</div>