﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Ilustration of the various internal and external forces acting on straight steel fibres." class="img-desc Figure-1" style="width:100%" />

  <p>
    Fibre shape has a strong influence on the pull-out response of the fibre. Friction is the primary pull-out mechanism of straight fibres (<a href="#" class="figure">Figure 1</a>).
  </p>
  
  <img src="{{dir}}hooked.svg" alt="Ilustration of the various internal and external forces acting on hooked end steel fibres." class="img-desc Figure-2" style="width:100%" />
  
  <p>
    Deformation of hooked ends is on the other hand the primary pull-out mechanism of hooked end fibres (<a href="#" class="figure">Figure 2</a>). The deformation of the hooked ends dissipates a large amount of energy. Hooked end fibres therefore provide a significantly higher pull-out response compared to straight fibres.
  </p>

</div>

<script>
  App.linksToHighlights('mechanical-response_fibre-type_fibre-shape');
</script>

