﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Slump of the self-compacting concrete." class="img-desc" />

  <p>
    Conventional vibrated concrete is stiff in the fresh state and thus does not flow. The casting process is accompanied by an extensive vibration of the material to  level the concrete and to remove any air bubbles entrapped in the concrete.
  </p>
  <p>
    The vibration process of the concrete is a very labour and time intensive process which has negative impacts on the human body and the working environment in general.
  </p>
  <p>
    SCC flows due to its own weight and no vibration is needed to compact the concrete. SCC provides an effective alternative to ordinary vibrated concrete.
  </p>

  <img src="{{dir}}slumpConventional.jpg" alt="Slump of the traditional concrete." class="img-desc" />

</div>