﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Wall effect: Blue and red bars stand for the possible and impossible orientation of the rigid fibre." class="img-desc" style="width:100%" />

  <p>
    Wall effect is caused by the interaction of the immersed steel fibres with the surrounding rigid obstacles such as formwork. It is geometrically impossible to have a rigid fibre located normal to the formwork at a distance less than half-length of the fibre (red rectangle in the Figure).
  </p>
  <p>
    Hence, the rigid fibre tends to orient according to the surrounding flow with a restriction imposed by the wall (fibre marked as blue rectangle).
  </p>

</div>