﻿<div class="content">

  <img src="{{dir}}image.jpg" alt="Process of manual counting. a) cut specimen. b) Manual counting. c) Scanned result." class="img-desc" style="width:100%" />

  <p>
    Manual counting is a simple destructive experimental method which is used to determine the number of fibres crossing a given plane. The number of fibres is used to determine the fibre orientation factor α<sub>o</sub>, assuming the fibre volume concentration and the fibre cross sectional area are known.
  </p>
  <p>
    The method does not require any special equipment or skills but on the other hand, it is relatively time consuming. If local fibre volume concentration varies, the the method does not provide enough information to properly distinguish between the effect of fibre orientation and local fibre volume concentration. The two phenomena can be separated by determining the local fibre volume concentration. First, the sample volume is determined and secondly the sample is crushed to determine the mass and volume of fibres.
  </p>
  <p>
    Manual counting is commonly composed of the following steps. A structural element made of SFRSCC is cut along a given plane of interest (Figure - a). The plane is polished and the number of fibres crossing the plane is counted (Figure - b,c).
  </p>

</div>