﻿<div class="content">

  <p>
    The complex mechanical response of SFRC can often be approximated by taking into account two main phenomena:
  </p>

  <ul>
    <li>number of fibres crossing the fracture plane</li>
    <li>pull-out response of individual fibres</li>
  </ul>

  <p>
    The former is primarily influenced by the fibre dosage and fibre orientation. The latter is primarily influenced by concrete type, fibre type and fibre inclination at fracture plane etc.
  </p>
  
</div>

{{boxSet: ^mechanical-response/[^/]+$ }}