﻿@media only screen and (min-width: 600px) {
  .page {
    width: 600px;
    margin: 0 auto;
    position: relative;
  }
}
@font-face {
  font-family: "Klint LT W01 Regular";
  src: url(fonts/1a600d6d-a636-4eb0-944a-9fb6d94ffc61.eot?iefix) format("eot"), url(fonts/3f1b4871-73d0-4bba-9e1f-ad3a3a5a5a40.woff) format("woff"), url(fonts/32ff0ab0-d409-48f1-9b72-1152fd4f33d0.ttf) format("truetype");
}
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */

}
a {
  text-decoration: none;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0 0 100px 0;
  background-color: #505050;
  font-family: Arial, Helvetica, sans-serif;
}
p:first-letter {
  font-size: 130%;
}
img {
  border: 0;
}
.img-center,
.content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-desc-inner {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #606060;
}
.img-desc-l {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-style: italic;
  color: #606060;
}
li {
  margin-bottom: 5px;
}
#alert {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
  z-index: 100;
  display: none;
  word-break: break-all;
}
#tooltip {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 5px 10px 5px;
  background-color: #0064ac;
  color: white;
  z-index: 50;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.page {
  display: none;
}
.header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  opacity: .90;
  font-size: 14px;
  background-image: url(images/menuitem.bg.png);
  color: white;
  position: relative;
}
.header > img {
  float: left;
  border: 0;
}
.header > .searchButton {
  float: left;
  width: 29px;
  height: 40px;
  background-image: url(images/icon.search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  cursor: pointer;
}
.header > .searchWrapper {
  float: left;
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.header > .searchWrapper > input {
  position: absolute;
  top: 0px;
  left: 0;
  height: 30px;
  border: 0;
  margin: 0;
  padding: 5px 10px;
  width: 150px;
  display: none;
  border-radius: 0;
  font-size: larger;
  background-color: white;
  z-index: 10;
}
.header > h1 {
  font-family: 'Klint LT W01 Regular', Tahoma, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: large;
  margin: 0 10px 0 87px;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.mynav {
  background-color: black;
  padding: 5px 18px 5px 10px;
  margin-top: 10px;
  opacity: .70;
  color: #808080;
  font-size: 14px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  line-height: 150%;
}
.mynav-link {
  outline: 0!important;
  text-decoration: none;
  color: #808080;
  font-size: 14px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.mynav-link:hover {
  text-decoration: underline;
}
.main {
  padding: 0;
  margin-top: 20px;
}
.content {
  background-color: white;
  color: black;
  margin: 0 0 10px 0;
  padding: 10px;
  line-height: 130%;
  box-sizing: border-box;
}
.menuTitle {
  color: #aeaeae;
  text-align: center;
  margin: 5px 0 -11px 0;
}
.content img {
  max-width: 100%;
}
.img-for-link {
  position: relative;
}
.imgLink-wrapper {
  width: 0;
  height: 0;
  position: relative;
  display: none;
}
.imgLink,
.imgMarker {
  border-radius: 999px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: #ff4c61;
  background-color: white;
}
.imgLink:active {
  color: white;
  background-color: #ff4c61;
}
.thumb-ul {
  padding: 0 0 5px 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.thumb-ul > li {
  display: inline-block;
  text-align: left;
  padding: 0;
  height: 83px;
  width: 250px;
  overflow: hidden;
  margin: 0 5px 10px 5px;
}
.thumb-ul > li > a {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.thumb-ul > li > a > h3 {
  color: white;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1;
  font-family: 'Klint LT W01 Regular';
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.thumb-ul > li > a > div {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: right;
  background-color: white;
}
.thumb-ul > li > a > div > .cover {
  opacity: 0.6;
  position: absolute;
  background-image: url(images/gradient.text.bg.png);
  width: 324px;
  height: 178px;
  background-repeat: repeat-x;
  overflow: hidden;
}
.thumb-ul > li > a:active > div > .cover {
  opacity: 0.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.thumb-ul > li > a > div > img {
  box-shadow: inset 0 0 10px white;
}
#search .title {
  font-style: italic;
}
#search .title > span {
  color: #d43d4f;
}
#search .results {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#search .results > li {
  line-height: 150%;
  display: block;
}
#search .results > li:nth-child(odd) {
  background-color: #e5e5e5;
}
#search .results > li > a {
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 3px;
  color: #606060;
  display: block;
}
#search .results > li > a > span {
  color: #d43d4f;
}
.navigate {
  position: fixed;
  bottom: 30px;
  text-align: center;
  display: none;
  left: -130px;
  width: 130px;
  z-index: 10;
}
.navigate-back,
.navigate-forward {
  background: rgba(174, 174, 174, 0.8);
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
}
.navigate-back:active,
.navigate-forward:active {
  background: black;
}
.navigate-back > span,
.navigate-forward > span {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
}
.navigate-back > span {
  border-right: 10px solid white;
}
.navigate-forward > span {
  border-left: 10px solid white;
}
.trailer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #606060;
  background-color: #ebebeb;
  font-size: 11px;
  line-height: 14px;
}
.trailer > img {
  margin-bottom: 10px;
  margin-left: 20px;
  display: block;
}
.trailer > div {
  float: left;
  width: 130px;
  padding-left: 20px;
  margin-right: 10px;
}
.trailer .phoneprefix {
  display: inline-block;
  width: 35px;
}
.clear {
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
}