﻿<div class="content">

  <img src="{{dir}}image.svg" alt="Ilustration of two different fibre dosages together with their respective relative pull-out responses." class="img-desc" style="width:100%" />

  <p>
    Number of fibres crossing a fracture plane has a strong impact on the mechanical performance of any type of SFRC. The number of fibres at the fracture plane is among others dependent on the fibre dosage.
  </p>
  <p>
    The higher the fibre dosage, the more fibres cross the fracture plane and the higher mechanical response of SFRC is obtained.
  </p>

</div>

